<ion-view id="account" view-title="我的" hide-back-button="true" cache-view="false">
  <ion-header-bar class="bar-positive">
    <h1 class="title">账户</h1>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class=".light-bg padding-top padding-bottom">
      <label id="info" class=" item item-icon-right" ng-click="func_showAction()">
        <img  id="touxiang" src="img/details/detail01.jpg" >
        <span>admin</span>
        <i class="icon ion-ios-arrow-right"></i>
      </label>
    </div>
    <div class="list">
      <div class="item .light-bg padding-top item-icon-right">
        <label>账号与安全
          <i class="icon ion-ios-arrow-right"></i>
        </label>
      </div>
      <div class="item .light-bg padding-top item-icon-right">
        <label>通用
          <i class="icon ion-ios-arrow-right"></i>
        </label>
      </div>
      <div class="item .light-bg padding-top item-icon-right">
        <label>关于传智
          <i class="icon ion-ios-arrow-right"></i>
        </label>
      </div>
      <div class="item .light-bg padding-top item-icon-right" ng-click="callPhone('88889999')">
        <label>联系我们</label>
        <a class="telephone" href="tel:88889999">88889999</a>
      </div>
      <div class="item .light-bg padding-top item-icon-right">
        <label>版本信息</label>
        <span class="version">V1.0</span>
      </div>
    </div>
    <div class="padding-top">
      <button class="button button-block button-assertive " ng-click="func_exitApp()">退出登录</button>
    </div>
  </ion-content>

</ion-view>


