#home ion-content{
  overflow:scroll;

}

/*头部搜索栏*/
#home .headerBar {
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 35px;
}

#home #headerBar-bg{
  background-color: #c91523;
  opacity: 0;
  height: 35px;
  position: absolute;
  width: 100%;
}

#home .headerBar-logo {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 35px;
  display: inline-block;
}

#home .headerBar-logo i {
  display: inline-block;
  height:21px;
  width: 56px;
  background: url("../../img/common/sprites.png") no-repeat;
  background-position: 0 -109px;
  background-size: 200px 200px;
  margin-left: 7px;
  margin-top: 7px;
}

#home .headerBar-search {
  position:absolute;
  left: 66px;
  right: 40px;
  width: auto;
  height: 25px;
  margin-top: 5px;
  color: #ffffff;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 15px;
}

#home .headerBar-search span{
  display: inline-block;
  height:20px;
  width: 20px;
  background: url("../../img/common/sprites.png") no-repeat;
  background-position: -60px -109px;
  background-size: 200px 200px;
  margin-left: 5px;
  margin-top: 3px;
}

#home .headerBar-search div{
  display:inline-block;
  height:100%;
  width: auto;
}
#home .headerBar-search div input{
  border: 0;
  display: inline-block;
  background: 0;
  font-size: 13px;
  line-height: 1.2em;
  height: 1.4em;
  width: 100%;
  vertical-align: middle;
  margin-top: -15px;
  color: #989191;
}

#home .headerBar-login {
  width: 30px;
  height:inherit;
  position: absolute;
  right: 7px;
  display: inline-block;
}

#home .headerBar-login span{
  margin-top: 7px;
  color:#ffffff;
  font-size: 15px;
  display: inline-block;
}

/*头滚动条*/
#home .headerSlider .swiper-container {
  height: 182px;
  width: 100%;
}

#home .headerSlider .swiper-container img {
  height: 100%;
  width: 100%;
}

/*功能栅栏*/
#home .function .row {
  background-color: white;
  text-align: center;
}

#home .function .col {
  border: 1px solid #eeeeee;
}

/*京东头条*/
#home .toutiao {
  height: 35px;
  background-color: white;
  horiz-align: center;
}

#home .toutiao img {
  width: 25%;
  padding-left: 5px;
}

/*秒杀*/
#home .kill {
  background-color: white;
  margin-top: 10px;
}

#home .kill span {
  color: red;
  padding-left: 5px;
}

/*主题街*/
#home .theme {
  margin-top: 10px;
  background-color: white;
}

#home .theme span {
  color: red;
  padding-left: 5px;
}

#home .theme span {
  color: red;
  padding-left: 5px;
}

/*广告*/
#home .ad ion-slide {
  text-align: center;
}

#home .ad ion-slide img {
  height: 8%;
  width: 100%;
}

/*猜你喜欢*/
#home .guess {
  background-color: white;
  margin-top: 10px;
}

#home .guess span {
  color: red;
  padding-left: 5px;
}

