#guidePage .slider {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

#guidePage img {
  height: 100%;
  width: 100%;
}

#guidePage .button{
  position: absolute;
  bottom: 60px;
  left:50%;
  transform: translate(-50%,0);
  width: 200px;
  z-index: 2
}
