<ion-view id="login" class="mui-content" view-title="搜索页面" hide-back-button="true" cache-view="false">
  <ion-content class="scroll-content" scroll="false">
    <div ng-click="func_openModal('search-modal1.html')">打开1</div>
    <br>
    <br>
    <div ng-click="func_openModal('search-modal2.html')">打开2</div>
  </ion-content>
  <script id="search-modal1.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-positive">
        <h1 class="title">筛选条件1</h1>
        <div ng-click="closeModal();">关闭</div>
      </ion-header-bar>
      <ion-content>
        页面1
      </ion-content>
    </ion-modal-view>
  </script>
  <script id="search-modal2.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-positive">
        <h1 class="title">筛选条件2</h1>
        <div ng-click="closeModal();">关闭</div>
      </ion-header-bar>
      <ion-content>
        页面2
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>
