<ion-view id="login" class="mui-content" view-title="用户登陆" hide-back-button="true" cache-view="false">
  <ion-content class="scroll-content" scroll="false">
    <div class="mui-select">
        <header class="mui-bar mui-bar-nav">
          <h1 class="mui-title">登录</h1>
        </header>
        <div class="mui-content">
          <form id='login-form' class="mui-input-group">
            <div class="mui-input-row">
              <label>账号</label>
              <input id='account' type="text" class="mui-input-clear mui-input" ng-model='loginInfo.userName' placeholder="请输入账号">
            </div>
            <div class="mui-input-row">
              <label>密码</label>
              <input id='password' type="password" class="mui-input-clear mui-input" ng-model='loginInfo.password' placeholder="请输入密码">
            </div>
          </form>
          <div class="loginError padding-left" ng-show='loginInfo.hasError'>
          {{loginInfo.loginError}}
          </div>
          <form class="mui-input-group">
            <ul class="mui-table-view mui-table-view-chevron">
              <li class="mui-table-view-cell">
                自动登录
                <label class="toggle toggle-balanced">
                  <input type="checkbox" checked>
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
              </li>
            </ul>
          </form>
          <div class="mui-content-padded">
            <button ng-click="login()" class="mui-btn mui-btn-block mui-btn-primary">登录</button>
            <div class="link-area"><a id='reg'>注册账号</a> <span class="spliter">|</span> <a id='forgetPassword'>忘记密码</a>
            </div>
          </div>
          <div class="mui-content-padded oauth-area">

          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
